html {
    background-color: #f5f5f5;
}

body {
    background-color: #fff;
}

.ribbon {
    z-index: 2000;
    position: fixed !important;
}

.main-container {
    padding-top: 20px;
    min-height: 500px;
}

ul.posts {
    list-style: none;
}

.posts article {
    margin-bottom: 20px;
}

.posts article .meta {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.posts .blurb {
    color: #999;
}

.posts article .title h3 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 0;
}

article,
article .meta,
.posts .blurb {
    float: left;
    width: 100%;
    clear: both;
}

article .title {
    float: left;
}

article.single .meta {
    margin-bottom: 20px;
}

article.single .date {
    margin-top: 25px;
    font-size: 15px;
}

.posts article .title {
    line-height: 46px;
}

.posts article .date {
    margin-top: 15px;
}

article .date {
    float: right;
    color: #999;
}

article.single h1 {
    font-size: 30px;
}

.posts article.first .title h3 {
    font-size: 25px;
    line-height: 28px;
}

@media (max-width: 600px) {
    .posts article .date {
        display: none;
    }
    .posts article .title h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .posts article .blurb {
        font-size: 13px;
    }
    .main-container {
        padding-top: 0;
    }
    .posts article.first .title h3 {
        font-size: 20px;
        line-height: 24px;
    }
}
